:root{
    --bgColor: #23242A
}

*{
    margin: 0px;
    padding: 0px;
}
.main_container{
    height: 950px;
    width: 100%;
}

.sec_1{
    height: 500px;
    width: 100%;
    background-color: var(--bgColor);  
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}

ul{
    display: flex;
    gap: 20px;
}
ul>li{
    list-style: none;
}

.img{
    align-items: flex-start;
    height: 100px;
    width: 150px;
}
.list_ul{
    /* background-color: red; */
    align-items: center;
    color: white;
    font-style: normal;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
}

.nav_btn{
    height: 30px;
    width: 100px;
    list-style: none;
    color: white;
    background-color: var(--bgColor);
    /* border: 1px solid white; */
    border-radius: 5px;

}
.nav_btn:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.list1{
    list-style: none;
    background-color: var(--bgColor);
    color: white;
    text-decoration: none;
}

ul>li:hover{
    font-style: normal;
    font-weight: 200;
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    transform: scale(1.2);
}

.subSec1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    font-size: 30px;
    color: whitesmoke;
}

.subSec1 > button {
  background-color: red;
    color: white;
    font-family:'Arial Narrow Bold', sans-serif;
    font-size: 15px;
    height: 30px;
    width: 140px;
    border: 1px solid var(--bgColor);
    border-radius: 5px;
    margin-top: 20px; 
}

.subSec1 > button:hover{
    transform: scale(1.1);
    border: 2px solid whitesmoke;
    border-radius: 5px;
    border-style: dotted;
}

.container1{
    display: flex;
    justify-content: center;
    text-transform: initial;
    gap: 80px;
    height: 400px;
    width: 100%;
    margin-top: 100px;
}

.sub_container{
    height: 300px;
    width: 300px;
    border-radius: 31px;
    background: linear-gradient(145deg, #e4dede, #ffffff);
    box-shadow:  5px 5px 24px #656363,
                 -5px -5px 24px #ffffff;;
    padding: 40px 20px;
    font-size: 20px;
}

.sub_container > p{
    padding-top: 20px;
    padding-bottom: 80px;
}

.arrow_icon{
    margin-bottom: 20px;
    margin-left: 120px;
    size: 100px;
    width: 100px;
    height: fit-content;

}

.arrow_icon > ul >li:hover {
    
    size: 100px;
    transform: scale(1.5);
}

.right{
    color: blue;
}

.sec_2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-bottom: 20px;
    height: 500px;
    width: 100%;
}

.sec_2Text{
    padding-left: 20px;
    padding-top: 20px;
    margin-left: 250px;
    font-size: 20px;
    width: 30%;
}

.sec_2Text > p{
    padding-top: 20px;
    padding-bottom: 40px;
}

.sec_2Img{
    margin-right: 150px;
    border-radius: 10px;
}

.sec_3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-bottom: 20px;
    height: 500px;
    width: 100%;
}

.sec_3Img{
    margin-left: 250px;
    border-radius: 10px;
}

.sec_3Text{
    padding-left: 20px;
    padding-top: 20px;
    margin-right: 150px;
    font-size: 20px;
    width: 30%;
}

.sec_3Text > p{
    padding-top: 20px;
    padding-bottom: 40px;
}
